.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    color: white !important;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.btn-primary {
    color: #fff;
    background-color: blueviolet;
    border-color: black;
}

.dropdown, .dropend, .dropstart, .dropup {
    position: relative;
    padding-top: 10px;
}


.caption p {
    
    text-align: center;
    font-size: 30px !important;
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img {
    vertical-align: middle;
    border-radius: 10px;
}