.navbar-inverse {
    background-color: #bf0000;
    border-color: #080808;
   
}
.p{
    font-size: 20px !important;
    font-weight: bold;
    font-family:sans-serif;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px darkblue, 0 0 25px  purple, 0 0 25px  red;
  
    
    }

.navbar-inverse .navbar-nav>li>a {
        color: white;
        
    } 

img {
        vertical-align: middle;
        border-radius: 10px;
    }

.caption p {
    font-size: 30px !important;
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}