.bg-dark {

    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    padding-right: 5px;
}



.logo img {
    width: 100px;
    height: 60px;
}


.caption p {
    font-size: 30px !important;
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img {
    border-radius: 5px;
}

.btn-primary {
    color: black;
    background-color: ghostwhite;
    border-color: red;
}

.dropdown,
.dropend,
.dropstart,
.dropup {
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
}

.btn-primary:hover {
    color: white;
    background-color: red;
    border-color: ghostwhite !important;


}

a {

    text-decoration: none;
}

footer{
    background-color: black;
    color: white;
    text-align: right;
    padding: 5px;
}
