.bg-dark {
    
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-family: Verdana, Geneva, sans-serif; 
    padding-right: 5px;
}
    
.logo img {
    width: 50px ;
    height: 50px;
 }

.d-block {
    display: block!important;
    padding-bottom: 1px !important;
    padding-top: 10px !important;
}

footer {
    background-color: black;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    text-align: right;
}
.btn-primary:hover{
    color: white;
    background-color: red;
    border-color: ghostwhite !important;
   

}

.btn-primary {
    color: black;
    background-color: ghostwhite;
    border-color: red;
    }

.logo img {
    width: 100px;
    height: 60px;
}


h1{
    font-family: fantasy;
}

p {
    margin-top: 0;
    margin-top: 40px;

}

.container{
    width: 100%;
    display: flex;
    max-width: 1100px;
    

}

.card{
    
    width: 300px;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    place-items: center;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.card img{
    width: 100%;
    height: 210px;
}

.card .contenido{
    padding: 15px;
    text-align: center;
    
}

.card .contenido p{
    line-height: 1.5;
    color: #6a6a6a
}
.card .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
}
.card .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}

.card .contenido a:hover{
    background: #2fb4cc;
    color: #fff;
}
